<div class="page-header">
  <h3><%= @model.mname %></h3>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Exposure', <%=@scaled_result %>]
        ]);

        var options = {
          width: 300, height: 300,
          redFrom: -100, redTo: -50,
          yellowFrom:0,greenTo: 100,
          greenFrom:50,greenTo: 100,
          minorTicks: 5,
          min: -100 , max: 100
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        
      }
</script>
      
<div class="row">
  <div class="col-md-12 mb-2">
    <h3>Model Conclusions</h3>
    

    
  </div>
</div>

       <div class = "chart_container" id="chart_div" style="width: 300px; height: 300px; margin-top: 20px; margin-left: 100px"> </div>
    
      

N. Observations: <%= @history_length %>

<div class="row">
  <div class="col-md-12">
  <h3>Model Variables</h3>  
  </div>
</div>    

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Indicator</th>
        <th>Weight</th>
        <th>Actions</th>
      </tr>

      <% @model.variables.each do |variable| %>
      <tr>
        <td><%= Indicator.find(variable.indicator_id).name %></td>
        <td><%= variable.weight %></td>
        
        <td>
          <a href="/variables/<%= variable.id %>" class="btn btn-primary">Show</a>
          <a href="/variables/<%= variable.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_variable/<%= variable.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
  <h3>Add Variables</h3>  
  </div>
</div>    

<div class="row">
  <div class="col-md-12">
   <form action="/create_variable" method="post">
     
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <input type="hidden" name="model_id" value= <%=@model.id%>>
        <input type="hidden" name="ourmodel_id" value= "1" >

         <!-- Label and input forweight -->
        <div class="form-group">
        <label for="indicator_id" class="control-label">
          Weight
        </label>
        
        <input type="text" name="weight" value= <%="0"%>>

         <!-- Label and input for indicator_id -->
        <div class="form-group">
        <label for="indicator_id" class="control-label">
          Indicator
        </label>

        <%= select_tag("indicator_id", options_from_collection_for_select(Indicator.all, :id, :name), :class => "form-control") %>

        </div>
      
        <button class="btn btn-success">
          <i class="fa fa-plus">Add Variable</i>
        </button>

        <small class="text-muted">be the first to like this</small>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mb-2">
    
    <div class="btn-group btn-group-justified">
      <a href="/models" class="btn btn-primary">
        Back
      </a>
      <a href="/models/<%= @model.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_model/<%= @model.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>